$primaryColor: #F7F7F7;
$focusColor: #0CB4F1;
$textColor: #9EAAB4;
$backgroundColor: #E5E5E5;
$elementBackgroundColor: #FFFFFF;
$secondaryColor1: #ECEFF0;
$elementShadow: 0px 18px 15px rgba(148, 148, 148, 0.15);
$elementRadius: 7px;